##
# Configuration file for PHPStan static code checking, see https://phpstan.org .
#

parameters:

  level: 9

  paths:
    - Prompty.php
    - PromptyTestTrait.php
    - playground
    - embed.php
    - starter.php
    - tests/phpunit

  excludePaths:
    - vendor/*
    - node_modules/*
    # Built on demand by embed.php and not committed, so it is only here
    # when the embedding was exercised. The (?) marks it as optional.
    - playground/flow-embed.dist.php (?)

  ignoreErrors:
    -
      # Since tests and data providers do not have to have parameter docblocks,
      # it is not possible to specify the type of the parameter, so we ignore
      # this error.
      message: '#.*no value type specified in iterable type array.#'
      path: tests/phpunit/*
      reportUnmatched: false
